﻿<section id="content">
			<div class="page profile-page">
				<!-- page content -->
				<div class="pagecontent">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<section class="boxs">
								<div class="profile-header">
									<div class="profile_info">
										<div class="profile-image">
											<img src="assets\images\profile-photo.jpg" alt="">
										</div>
										<h4 class="mb-0"><strong>Ad Soyad</strong></h4>
										<span class="text-muted">Yonetici</span>
									</div>
								</div>
								<div class="profile-sub-header">
									<div class="box-list">
										<ul class="text-center">
											<li>
												<a href="mail-inbox.html" class="">
													<i class="fa fa-inbox"></i>
													<p>Mesajlarım</p>
												</a>
											</li>
											<li>
												<a href="uyeler.html" class="">
													<i class="fa fa-paperclip"></i>
													<p>Uyelerim</p>
												</a>
											</li>
											<li>
												<a href="firmalar.html">
													<i class="fa fa-paperclip"></i>
													<p>Firmalar</p>
												</a>
											</li>
											<li>
												<a href="urunlerim.html">
													<i class="fa fa-tasks "></i>
													<p>Ürünlerim</p>
												</a>
											</li>
                                            <li>
                                                <a href="musteriler.html">
                                                    <i class="fa fa-tasks "></i>
                                                    <p>Müşterilerim</p>
                                                </a>
                                            </li>
										</ul>
									</div>
								</div>
							</section>
						</div>
                        <div style="width: 500px;height: 500px;margin-left:50px;">
						<div role="tabpanel" class="tab-pane" id="setting" >
                                                <div class="wrap-reset">
                                                    <form class="profile-settings">
                                                        <div class="row">
                                                            <div class="form-group col-md-12 legend">
                                                                <h4>
                                                                    <strong>Profil Düzenleme</strong> Formu</h4>
                                                                <p>Profil Bilgilerinizi buradan düzenleyebilirsiniz.</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label for="username">Kullanıcı Adı</label>
                                                                <input type="text" class="form-control" id="username" value="yonetici" readonly="">
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label for="password">Şifre</label>
                                                                <input type="password" class="form-control" id="password" value="secretpassword" readonly="">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label for="new-password">Yeni şifre</label>
                                                                <input type="password" class="form-control" id="new-password">
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label for="new-password-repeat">Yeni Şifre Tekrar</label>
                                                                <input type="password" class="form-control" id="new-password-repeat">
                                                            </div>
                                                            <div class="form-group col-sm-12">
                                                                <button class="btn btn-raised btn-primary">Kaydet</button>
                                                            </div>
                                                        </div>
                                                       
                                                    </form>
                                                </div>
                                            </div> </div>
						
					</div>
				</div>
			</div>
		</section>