
        <section id="content">
            <div class="page dashboard-page">
                <!-- bradcome -->
                
                
                
                  

                
                
          
              
                <div class="row clearfix">
                    <h2>Ormix Ürünler Sayfası</h2><br>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center>                                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\1.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6> 
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>4,870 TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">65 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                            <div class="pw_img">
                                <img class="img-responsive" src="assets\images\2.jpg" alt="About the image">
                            </div>                            
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>921  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-success">100 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\3.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                    <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                     <span>9210  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-danger">50 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxs project_widget">
                             <div class="pw_img">
                                <img class="img-responsive" src="assets\images\4.jpg" alt="About the image">
                            </div>
                            <div class="pw_content">
                                <div class="pw_header">
                                   <h6>Ürün Adı</h6>
                                    <small class="text-muted">Kategori Adı</small>
                                </div>
                                <div class="pw_meta">
                                    <span>910  TL</span>
                                    <small class="text-muted"> </small>
                                    <small class="text-warning">70 Adet</small>
                                </div>
                                 <input type="text" name="" class="form-control"  id="username" placeholder="      koli adedi giriniz" style="margin-top: -40px;" step="20">
                                <center><button class="btn btn-warning btn-sm btn-raised mr-5" data-method="crop" type="button" title="Sipariş Ver">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Sipariş Ver">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                </button></center> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </section>